<main id="main" class="main">

    <div class="pagetitle">
      <h1>Profile</h1>
      <nav>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          
          <li class="breadcrumb-item active">Profile</li>
        </ol>
      </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
      <div class="row">
        <div class="col-xl-4">

          <div class="card">
            <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">

              <img src="/assets/img/Admin.png"  class="rounded-circle">
              <h2 style="text-align: center;">{{profileObject.firstName.toUpperCase()}} {{profileObject.lastName.toUpperCase()}}</h2>
              <br>
              <h6 style="text-align: center;font-weight: bold;">{{profileObject.company.toUpperCase()}} </h6>
                           
            </div>
          </div>

        </div>

        <div class="col-xl-8">

          <div class="card">
            <div class="card-body pt-3">
              <!-- Bordered Tabs -->
              <ul class="nav nav-tabs nav-tabs-bordered">

                <li class="nav-item">
                  <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#profile-overview">Overview</button>
                </li>

                <li class="nav-item">
                  <button class="nav-link" data-bs-toggle="tab" data-bs-target="#profile-edit">Edit Profile</button>
                </li>

              </ul>
              <div class="tab-content pt-2">

                <div class="tab-pane fade show active profile-overview" id="profile-overview">

                  <h5 class="card-title">Profile Details</h5>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label ">First Name</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.firstName.toUpperCase()}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Last Name</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.lastName.toUpperCase()}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Email</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.email}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.company.toUpperCase()}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Birth Date</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.birthDay}}</div>
                  </div>

                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Phone</div>
                    <div class="col-lg-9 col-md-8">+216 {{profileObject.phone}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company first entry-time</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.entryTime1}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company second entry-time</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.entryTime2}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company first exit-time</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.exitTime1}}</div>
                  </div>
                  <div class="row">
                    <div class="col-lg-3 col-md-4 label">Company second exit-time</div>
                    <div class="col-lg-9 col-md-8">{{profileObject.exitTime2}}</div>
                  </div>
                </div>
                

                <div class="tab-pane fade profile-edit pt-3" id="profile-edit">

                  <!-- Profile Edit Form -->
                  <form>
                   

                    <div class="row mb-3">
                      <label for="fullName" class="col-md-4 col-lg-3 col-form-label">First Name</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="firstName" type="text" class="form-control" [(ngModel)]="profileObject.firstName">
                      </div>
                    
                    </div>

                    <div class="row mb-3">
                        <label for="fullName" class="col-md-4 col-lg-3 col-form-label">Last Name</label>
                        <div class="col-md-8 col-lg-9">
                          <input name="lastName" type="text" class="form-control"  [(ngModel)]="profileObject.lastName">
                        </div>
                      </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Company</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="company" type="text" class="form-control" [(ngModel)]="profileObject.company">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Country" class="col-md-4 col-lg-3 col-form-label">Phone</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="phone" type="text" class="form-control" (keypress)="numberOnly($event)"  [(ngModel)]="profileObject.phone" maxlength="8">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Company first work-time</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="entryTime1" type="time" class="form-control" [(ngModel)]="profileObject.entryTime1">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Company second work-time</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="entryTime2" type="time" class="form-control" [(ngModel)]="profileObject.entryTime2">
                      </div>
                    </div>
                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Company first work-time</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="exitTime1" type="time" class="form-control" [(ngModel)]="profileObject.exitTime1">
                      </div>
                    </div>

                    <div class="row mb-3">
                      <label for="Job" class="col-md-4 col-lg-3 col-form-label">Company second work-time</label>
                      <div class="col-md-8 col-lg-9">
                        <input name="exitTime2" type="time" class="form-control" [(ngModel)]="profileObject.exitTime2">
                      </div>
                    </div>
                    

                    <div class="text-center">
                      <button type="submit" class="btn btn-outline-primary" (click)="updateProfile()">Save Changes</button>
                    </div>
                  </form><!-- End Profile Edit Form -->

                </div>

               

              </div><!-- End Bordered Tabs -->

            </div>
          </div>

        </div>
      </div>
    </section>

  </main><!-- End #main -->