<body>

  <main>
    <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

              <div class="d-flex justify-content-center py-4">
                <a routerLink="" class="logo d-flex align-items-center w-auto">
                  <img src="/assets/img/admin logo.png" alt="" width="40">
                  <span class="d-none d-lg-block">ADMIN-DASH</span>
                </a>
              </div><!-- End Logo -->

              <div class="card mb-3">

                <div class="card-body">

                  <div class="pt-4 pb-2">
                    <h5 class="card-title text-center pb-0 fs-4">Forgot password</h5>
                    <p class="text-center small">Enter your email to Reset your Password</p>
                  </div>

                  <form class="row g-3 needs-validation" #f="ngForm" (ngSubmit)="forgetPassword(f)">

                    <div class="col-12">
                      <label for="yourUsername" class="form-label">Email</label>
                      <div class="input-group has-validation">
                        <span class="input-group-text" id="inputGroupPrepend">
                          <span class="bi bi-envelope"></span>
                        </span>
                      <input type="text" class="form-control" id="yourUsername" placeholder="Email" name="email" #email="ngModel" ngModel required email>
                    </div>
                    </div>
                    <div class="clo-12">
                      <div  class="alert alert-danger" *ngIf="email.errors?.['required'] && email.touched">Please enter your email</div>
                      <div  class="alert alert-danger" *ngIf="email.errors?.['email'] && email.touched">please enter a valid email</div>
                    </div>
                    <div class="col-12">
                      <button class="btn btn-primary w-100" type="submit" [disabled]="f.invalid" >Reset Password</button>
                    </div>

                    <div class="col-12">
                      <p class="text-center small">Reset password link will be sent to your email !</p>
                    </div>

                    <div class="col-12">
                        <p style="text-align: center;" class="small mb-0">Rememeber Your password ? <a routerLink="/login">login</a></p>
                      </div>
                      <div class="col-12">
                        <p style="text-align: center;" class="small mb-0">Don't have account ? <a routerLink="/register">Sign up</a></p>
                      </div>
                    <div class="col-12">
                      <div class="alert alert-danger" *ngIf="messageError && f.valid" style="text-align: center;">{{messageError}}</div>
                    </div>
                    <div class="col-12">
                        <div class="alert alert-success" *ngIf="messagePassed && f.valid" style="text-align: center;">{{messagePassed}}</div>
                      </div>




                  </form>

                </div>
              </div>
            </div>
          </div>
        </div>

      </section>

    </div>
  </main><!-- End #main -->


</body>